	<!--	main body of MICROCOSM page. Called by main.html.erb (layout)	-->
	
	<div id="wrapper">
		<div id="header">
			<h1>MICROCOSM</h1>
			<div id="control_panel">
				<%= render :partial=>"control_panel" %>
			</div>	<!--	end control_panel -->	
	
		</div>		<!--	end header -->	
		
		<div id="topic1">
		
		</div>	
		
		<div id="topic2">
		
		</div>
	
		<div id="footer" >
			&copy; <span>Michael McGuire 2010</span>
		</div>
	
	</div>	<!--	end wrapper -->	