	<!--	main body of MICROCOSM page. Called by main.html.erb (layout)	-->
	
	<div id="wrapper">
		<div id="header">
			<div id="control_panel">
				<h1>MICROCOSM</h1>
				<DIV ID="log_in">
					<% if @validUser %>
						<%= render :partial =>"logged-in" %>
						</p>
					<% else %>	
						<%= render :partial =>"login" %>
					<% end %>	
				</div>
				<div id="topic_list">
					<%= render :partial=>"topics/topics" %>
				</div>	
			</div>	<!--	end control_panel -->	
		</div>		<!--	end header -->
		
		<div id="content">
	
		
		
			<div id="topic1">
		
			</div>	
		
			<div id="topic2">
		
			
	
			</div>
		</div>	<!-- end content	-->
		
		<div id="footer" >
			&copy; <span>Michael McGuire 2010</span>
		</div>
		
	</div>	<!--	end wrapper -->	