<br/><hr/>
<h1><%=params[:loginName]%></h1>
<hr/>

	<p>	<b>name: </b><%= @validUser.userName %><br/>
		<b>password: </b><%= @validUser.userPassword %><br/>
		<b>email: </b><%= @validUser.userEmail %><br/>
	</p>
