<% messages.reverse.each do |message|  %>
	<div class="message_header">
		<%= message.messageCreator %>
		<span><%= message.messageTime %></span><br/>
	</div	
	<p class="message+body">
		<%= message.messageBody %>
	</p>
	<hr/>
<% end %>