<div class="topic_div topic silver_border faded_background">
	<% @topic = Topic.find(:first, :conditions =>["id = ?", @topicId]) %>
	<div class="topic_header">	
		<h2 class="headline_font"><%=  @topic.topicName  %></h2>
		
		<div class="close_topic_form" >	
			<% form_tag  "/main/closeTopic" do %>
				<%=submit_tag "close" %>			
			<% end %>				
		</div>	
		
	</div>	
	<%= render :partial=>"/messages/new_message", :locals=>{:message=>Message.new}%>
	<div class="message_area">
		<hr/>
		<%messageTopic = @topic.id%>
		<%= render :partial=>"/messages/show_message", 
		:locals=>{:messages=>Message.find(:all, 
		:conditions =>["messageTopic = ?", 
		messageTopic])} %>
	</div>	<!-- end of message area -->
</div> <!-- end of topic_div -->	
