
		
						
	<% @topics.each do |topic| %>
		 
		<p><%= link_to topic.topicName, topic %></p>    
	<% end %>
	<div id="new_message">
		<%= link_to 'New Topic', new_topic_path, :class=>"link text_shadow" %>
	</div>	
	