
<h2><%= @topic.topicName %></h2>

<%= render :partial=>"/messages/new_message", :locals=>{:message=>Message.new}%>

<%messageTopic = @topic.id%>

<%= render :partial=>"/messages/show_message", :locals=>{:messages=>Message.find(:all, :conditions =>["messageTopic = ?", messageTopic])} %>


