/*	Description: 	MICROCOSM main css page, optomized for CHROME v.6.0
	Author: 		Michael mcGuire
					mmcgu1966@gmail dot com
	Updated:		08/10/2010
*/    
/*			BASIC COLOR SCHEME:	bright brushed metal and smoked glass on wood and corkboard background
								with black page background
				dark red		#8b0000;
				electrum		#b88c5b;		184,140,91
				
				silver			#C0C0C0;		192,192,192
				black			#000000;		0,0,0;
				
				rubber			#2d2e2e;		45, 46, 46
				
*/
			
/*			TYPOGRAPHY	*/
@font-face
	{ 	font-family: "EurostileExtended-Roman-DTC";  
		src: url('../fonts/EurostileExtended-Roman-DTC.ttf');
	}	
@font-face 
	{ 	font-family: "HelveticaNeueLT Pro 25 Ultra Light"; 
		src: url('../fonts/HelveticaNeueLTPro-UltLt.otf'); 
	} 	
*	{	font-family: Calibri, sans-serif;}	  	 		
h1
	{	font-family: "EurostileExtended-Roman-DTC", arial, serif;
		color: #c0c0c0;
		text-shadow: #7d582e 1px 1px 1px; 
	}	

a
	{	font-family: "Comic Sans MS", sans-serif;	
		font-size:75%;
		color: #C38EC7;		
		text-shadow: #000000 1px 1px 1px;
	}	
	li:hover a 
		{	color: #87CEFA;	
		}   
	#buttons li a
		{	line-height: 25px;
		}
	
	
	
	
/*
			LAYOUT
*/			
body			
	{	background-color: #2d2e2e;	
		height: 100%;
    }	
#wrapper		
	{	width: 800px;
		min-height: 650px;
		margin-left: 70px;
		margin-top: 40px;
		
		border-width: 20px;
		
			border-radius: 12px; 
		background-image: url('../images/wood.jpg');
		background-repeat: repeat;
		
	}
#content
	{	background-image: url('../images/bulletin_board.png');
		position: relative;
			top: 25px;
			left: 25px;
		height: 720px;
		width: 740px;
		border-radius: 12px; 
			border-width: 15px;
			border-style: solid;
			-moz-border-radius: 12px; 
			-webkit-border-radius: 12px;
			border-color: #c0c0c0;
			
	}	
	
	
#control_panel
	{	background-image: url('../images/control_panel.png');
		background-repeat: no-repeat;
		position: fixed;
		height: 500px;
		width: 100%;
	
	}
	