/*	Description: 	MICROCOSM main css page, optomized for CHROME v.6.0
	Author: 		Michael mcGuire
					mmcgu1966@gmail dot com
	Updated:		08/10/2010
*/    
/*			BASIC COLOR SCHEME:	bright brushed metal and smoked glass on wood and corkboard background
								with black page background
				dark red		#8b0000;
				electrum		#b88c5b;		184,140,91
				lt. sky blue	#87CEFA;		135, 206, 250
				silver			#C0C0C0;		192,192,192
				black			#000000;		0,0,0;
				
				rubber			#2d2e2e;		45, 46, 46
				
*/
			
/*			TYPOGRAPHY	*/
@font-face
	{ 	font-family: "EurostileExtended-Roman-DTC";  
		src: url('../fonts/EurostileExtended-Roman-DTC.ttf');
	}	
@font-face 
	{ 	font-family: "HelveticaNeueLT Pro 25 Ultra Light"; 
		src: url('../fonts/HelveticaNeueLTPro-UltLt.otf'); 
	} 	
*	{	font-family: Calibri, sans-serif;}	  	 		
h1
	{	font-family: "EurostileExtended-Roman-DTC", arial, serif;
		color: #c0c0c0;
		text-shadow: #7d582e 1px 1px 3px; 
	}	
	
.text_shadow
	{	text-shadow: #000000 1px 1px 2px;
	}

a
	{	font-family: "Comic Sans MS", sans-serif;	
		font-size:75%;
		color: #87CEFA;				
	}	
	a:hover 
		{	color: #ffffff;	
		}   
	#buttons li a
		{	line-height: 25px;
		}
.label
	{	font-size: 60%;
	}

	
	
/*
			LAYOUT
*/			
body			
	{	background-image: url("../images/3.jpg");
		height: 100%;
		padding-left: 20px;
    }	
#wrapper		
	{	width: 940px;
		min-height: 760px;
		margin-top: 10px;
		border: solid;
			border-color: #b5b2ad;
			border-width: 6px;
			-moz-border-radius: 3px; 
			border-radius: 15px; 			
		background-color: #c0c0c0;
		box-shadow: 3px 3px 15px #000; 
			-webkit-box-shadow: 3px 3px 15px #000; 
			-moz-box-shadow: 3px 3px 15px #000; 			
	}
		
	#control_panel
		{	background-image: url('../images/control_panel.png');
			background-repeat: no-repeat;
			position: fixed;
				top: 50px;
				left: 40px;
				z-index: 9;
			height: 610px;
			width: 920px;		
		}
		h1	
			{	margin-top: 15px;
				text-align: center;		
			}
		#log_in
			{	position: relative;
					left: 660px;
					top: -40px;
			}
			
		#topic_list
			{	position: relative;
					top: 160px;
					right: 50px;
				float: right;
				border: solid red;
				
			}
	
	#content
		{	border: solid black;
				border-width: 2px;
				-moz-border-radius: 10px; 
				border-radius: 10px; 	
			position: fixed;
				top: 140px;
				left: 60px;	
			width: 740px;	
			height: 630px;
			background-image: url('../images/bulletin_board.png');
			
			
				
		}	
		
	
	