/*	Description: 	MICROCOSM main css page, optomized for CHROME v.6.0
	Author: 		Michael mcGuire
					mmcgu1966@gmail dot com
	Updated:		08/28/2010
	
	PROJECT CURRENTLY UNDER DEVELOPEMENT AND NOT IN THE FINISHED FORM
*/    
/*			BASIC COLOR SCHEME:	brushed metal and corkboard with metallic striped page background
				dark red		#8b0000;
				electrum		#b88c5b;		184,140,91
				lt. sky blue	#87CEFA;		135, 206, 250
				silver			#C0C0C0;		192,192,192
				darker silver	#a0a0a0			160,160,160
				pewter			#8c8c8c			140,140,140
				black			#000000;		0,0,0;
				
				rubber			#2d2e2e;		45, 46, 46
				
*/
			
/*			TYPOGRAPHY	*/
@font-face
	{ 	font-family: "EurostileExtended-Roman-DTC";  
		src: url('../fonts/EurostileExtended-Roman-DTC.ttf');
	}	
@font-face 
	{ 	font-family: "HelveticaNeueLT Pro 25 Ultra Light"; 
		src: url('../fonts/HelveticaNeueLTPro-UltLt.otf'); 
	} 	
*	{	font-family: Calibri, sans-serif;}	  	 		
.headline_font
	{	font-family: "EurostileExtended-Roman-DTC", arial, serif;
		color: #c0c0c0;
		text-shadow: #000 1px 1px 3px; 
	}		
.text_shadow
	{	text-shadow: #000000 1px 1px 2px;
	}
a
	{	font-family: "Comic Sans MS", sans-serif;	
		font-size:75%;
		color: #87CEFA;				
	}	
	a:hover 
		{	color: #ffffff;	
		}   
	#buttons li a
		{	line-height: 25px;
		}
.login_label
	{	font-size: 75%;
		margin-left: -10px;
		color: #ffffff
	}
	
/*	COMMON CLASSES
*/	
.silver_border
	{	border: solid;
			border-color: #a0a0a0;	/* default for depricated browsers  */
			border-color: rgba(181,178,173,0.9);
			border-width: 3px;
			-moz-border-radius: 8px; 
			border-radius: 8px; 			
	}
.faded_background
		{	background-color: #c0c0c0;	/* default for depricated browsers  */
			background-color: rgba(192,192,192,0.8);
		}
	
	
/*			GENERAL LAYOUT
*/			
body			
	{	background-image: url("../images/3.jpg");
		height: 100%;
		padding-left: 20px;
    }	
	

#wrapper		
	{	width: 940px;
		height: 760px;
		position: fixed;
			top: 10px;
			left: 30px;		
		box-shadow: 3px 3px 15px #000; 
			-webkit-box-shadow: 3px 3px 15px #000; 
			-moz-box-shadow: 3px 3px 15px #000; 			
		border-width: 6px;	/* superceeds silver_border class	*/
		-moz-border-radius: 10px; 
		border-radius: 10px; 				
	}
	
	#content
		{	border: solid black;
				border-width: 2px;
				-moz-border-radius: 10px; 
				border-radius: 10px; 	
			position: fixed;
				top: 120px;
				left: 60px;	
			width: 750px;	
			height: 630px;
			background-image: url('../images/bulletin_board.jpg');				
		}	
		
/*	CONTROL PANEL	
*/		
#control_panel
	{	background-image: url('../images/control_panel.png');
		background-repeat: no-repeat;
		position: fixed;
			top: 30px;
			left: 40px;
			z-index: 9;
		height: 610px;
		width: 920px;		
	}
	h1	
		{	margin-top: 15px;
			text-align: center;		
		}
	#log_in
		{	position: relative;
				left: 660px;
				top: -40px;					
		}
		.login_form
			{	width: 220px;
				text-align: right;
			}
			.textfield 
				{	width: 150px;
					margin-bottom: 5px;
				}
			.login_submit
				{	margin-left: 65px;
					float:left;
				}
			.login_error
				{	position: relative;
						left: -50px;
				}		
	
			
/*	TOPIC_LISTS	
*/			
#topic_list_container
	{	position: relative;
			top: 130px;
			left: 765px;
		width: 140px;
	}
	#topic_list
		{	padding: 5px;
			background-color: #ddd;
			font-size: 75%;
		}
	#topic_title
		{	position: relative;
				top: 3px;
			text-align: center;	
			font-size:100%;			
		}
	#topic_list a
		{	color: #8c8c8c;
		}
		#topic_list a:hover
			{	color: #fff;
				text-shadow: #000 1px 1px 2px;
			}
	#new_message
		{	position: relative;
				top: 25px;
			text-align: center;	
		}
	#new_message a
		{	color: #87CEFA;
			font-size: 120%
		}
			
			
/*	TOPICS	
*/			
#topic_container
	{	position: relative;		border: solid white; background-color: black;
			top: 25px;
			left: 25px;
		width: 510px;		
		height: 580px;
	}
	#topic_1
	{	position: relative;		
		float: left;	
		width: 240px;		
		height: 570px;
		margin-right: 10px;
	}
	#topic_2
	{	position: relative;		
		float: left;
		width: 240px;		
		height: 570px;
	}
	
	

	